html,body
{
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
}


/*navbar*/
.navbar {
    display: flex;
    position: relative;
    color: black;
    width: 100%;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    float: left;
}

.brand-title img
{
    height: 30px;
}

.brand-title span
{
    color: #fff645;
}

.cntr
{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 25%;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links ul li a.red
{
    color: red;
}

.navbar-links li:hover {
    background-color: rgba(0,0,0,0.3);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 21px;
    margin-top: 15px;
    margin-right: -15px;
}


/*nav bar until here*/



/*second bar with search buttons*/

.searchbar
{
    height: 10vh;
    width: 100%;
    background-color: rgba(116, 116, 116, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}

.boot-bar
{
    display: flex;
    justify-content: space-between;
}

.searchbox
{
    width: 35%;
}
.searchbox input
{
    background: url("images/loupe\ \(4\).svg") right no-repeat;
    background-size: 3vw 3vh;
    background-color: white;
    width: 100%;
    height: 5vh;
    border-radius: 40px;
    border: none;
}

.searchbar input::placeholder
{
    padding-left: 15px;
    font-size: 20px;
}

.mainbar
{
    height: 5vh;
    width: 50%;
    border-radius: 40px;
    border: 2px solid #c1e2bea6;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.mainbar select
{
    border: none;
    background-color: transparent;
    padding: 10px;
}

.house
{
    color: red;
}
.more , .more select
{
    background-color: rgb(6, 5, 56);
    width: 20%;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 5px;
}

.vertical-line
{
    border-left: 2px solid rgba(0,0,0,0.3);
    height: 100%;
}

.reset
{
    display: flex;
    width: 15%;
    padding-top: 5px;
    justify-content: center;
}

.reset i 
{
    color: rgb(146, 7, 7);
    padding-top: 5px;
    font-size: 20px;
}

.reset p
{
    font-size: 20px;
    font-weight: 700;
}
.save
{
    display: flex;
    width: 15%;
    padding-top: 7px;
}

.save p
{
    font-weight: 700;
    font-size: 20px;
}

.save i
{
    color: rgb(146, 7, 7);
    padding-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.grid
{
    display: flex;
    width: 7%;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 4px;
    margin-right: 1px;
    color: #c1e2bef3;
}

.grid i 
{
    padding-top: 4px;
    font-size: 18px;
}

.grid p
{
    font-size: 15px;
    padding-left: 5px;
}

.for-sale
{
    display: flex;
    border: 1px solid rgb(63, 63, 63);
    width: 4.5%;
    font-size: 10px;
    justify-content: center;
    background-color: white;
    margin-right: 40px;
}

.for-sale i
{
    padding-top: 4px;
    font-size: 15px;
}

.for-sale p
{
    font-size: 15px;
}

.last-nav img
{
    width: 2%;
    height: 30%;
    display: none;
}

/*second bar ends*/


/*main section*/
.row
{
    width: 100%;
}
.map , .scroll
{
    height: 90vh;
}

.map img
{
    height: 100%;
    width: 100%;
}

.scrollable
{
    height: 100%;
}
.scrollable h3
{
    font-weight: 900;
    word-spacing: 5px;
    padding-top: 8px;
}

.details p span
{
    border-radius: 40px;
    font-size: 12px;
    padding: 5px;
}

.details p
{
    font-weight: 700;
}

.cards
{
    height: 80%;
    overflow-y: auto;
    padding: 10px;
}

.card1 , .card2 , .card3 , .card4
{
    height: 35%;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    perspective: 1000;
    box-shadow: 0px 5px 26px -1px rgba(0,0,0,0.77);
}

.img1 , .img2 , .img3 , .img4
{
    position: relative;
    height: 100%;
}

.img1 img , .img2 img , .img3 img , .img4 img
{
    height: 100%;
    width: 100%;
}

.img1::before , .img2::before , .img3::before , .img4::before
{
    position: absolute;
    background-color: #e7dc0c;
    content: 'Posted 2 days ago';
    padding: 5px;
    text-align: center;
    color: #000000;
    font-size: 10px;
}

.head1 , .head2 , .head3 , .head4
{
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.head1 img , .head2 img , .head3 img , .head4 img
{
    height: 25px;
    width: 20px;
    padding-top: 8px;
}

.head1 p , .head2 p , .head3 p , .head4 p
{
    font-size: 10px;
    padding-top: 10px;
    word-spacing: 2px;
    font-weight: 700;
    color: #0d0e55;
}

.head1 i , .head2 i , .head3 i , .head4 i
{
    color: rgb(146, 7, 7);
    padding-top: 10px;
    padding-left: 0px;
    font-weight: 600;
}

.loc1
{
    display: flex;
}

.loc1 p
{
    font-size: 12px;
    padding-left: 10px;
    font-weight: 700;
    color: #0d0e55;
}

.loc1 i
{
    padding-left: 5px;
}

.det1 , .det2 , .det3 , .det4
{
    margin-left: 10px;
}

.rm-dt
{
    height: 50%;
    margin-bottom: 10px;
}

.rm-dtl1
{
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.div-dt
{
    line-height: 0%;
    padding-top: 3px;
    width: 90%;
}

.div-dt p
{
    font-size: 15px;
}
.div-dt h5
{
    font-size: 15px;
}

.vertical-line1
{
    border-left: 2px solid rgba(0,0,0,0.3);
    height: 70%;
    padding-top: 25px;
}

.footer
{
    height: 35vh;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: #102f41;
}

.ctr-footer
{
    width: 35%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ft-logo
{
    margin: auto;
}

.social-menu
{
    margin: auto;
}

.social-menu svg
{
    padding: 3px;
}

.copy
{
    color: white;
    font-weight: 100;
    font-size: 15px;
    padding-top: 5px;
    margin: auto;
}

.navbar-links-ft {
    height: 20%;
    margin: auto;
}

.navbar-links-ft ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links-ft li {
    list-style: none;
}

.navbar-links-ft li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: 400;
}

.navbar-links-ft li a.bold
{
    font-weight: 900;
}

.white
{
    color: white;
}

/*main section ends*/

/*modal*/
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 80%;
	width: 80%;
	background-color: white;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: -40px;
	right: -45px;
	color: #333;
	cursor: pointer;
    background: white;
    height: 5%;
    width: 3%;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}
/*modal popup ends*/

/*inside modal*/
.md-main
{
    width: 100%;
    height: 100%;
}

.btns
{
    display: flex;
    justify-content: flex-end;
}

.share
{
    display: flex;
    justify-content: flex-end;
}

.share img 
{
    height: 2%;
    width: 2%;
    margin-top: 4px;
}

.share p
{
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.share img.eye
{
    margin-top: 8px;
}

.share img.border
{
    border: 1px solid black;
    margin: 4px;
}

.address
{
    display: flex;
}

.address button
{
    margin-right: 15px;
}

.address .dtls
{
    display: flex;
    font-weight: 700;
}

.dtls1 
{
    display: flex;
}

.dtls2 
{
    display: flex;
    margin-left: 20px;
}

.dtls3
{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
}
.images
{
    width: 100%;
    height: 80%;
}

.first
{
    height: 60%;
    position: relative;
}

.first img
{
    height: 95%;
    width: 98%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 4px;
    margin-bottom: 5px;
    perspective: 1000;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.77);
}

.sale
{
    position: absolute;
    top: 15px;
    padding-top: 20px;
    padding-left: 40px;
}

.sale2
{
    display: flex;
    justify-content: flex-end;
}

.sale2 button
{
    padding: 5px;
    margin-right: 40px;

}

.first .sale2 img
{
    width: 50%;
}

.second
{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    height: 40%;
    position: relative;
}

.second1 , .second2 , .second3 , .second4
{
    width: 25%;
    height: 100%;
    margin-right: 5px;
    perspective: 1000;
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.77);
}

.second1 img , .second2 img , .second3 img , .second4 img
{
    height: 100%;
    width: 100%;
}

/*until here*/

/*for mobile*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        right: 0;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: row;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        height: 7vh;
    }

    .row
    {
        display: flex;
        margin: auto;
        flex-direction: column-reverse;
        border: 2px solid black;
    }

    .map , .scroll
    {
        width: 100%;
        height: 100%;
    }

    .cards
    {
        width: 100%;
    }

    .img1 , .img2 , .img3 , .img4
    {
        width: 35%;
    }

    .head1 , .head2 , .head3 , .head4
    {
        font-size: 8px;
    }

    .head1 h4 , .head2 h4 , .head3 h4 , .head4 h4
    {
        font-size: 20px
    }

    .rm-dtl1 p
    {
        font-size: 10px;
    }

    .rm-dtl1 h5
    {
        font-size: 12px;
    }

    .ctr-footer
    {
        width: 90%;
        height: 80%;
    }

    .bg-modal
    {
        width: 100%;
    }

    .share
    {
        width: 100%;
    }

    .share img
    {
        height: 5%;
        width: 5%;
    }

    .modal-contents
    {
        width: 90%;
        height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .second
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .second1 , .second2 , .second3 , .second4
    {
        height: 60%;
        width: 100%;
    }

    .address
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 10px;
    }

    .dtls3 p
    {
        font-size: 10px;
    }

    .btns
    {
        width: 50%;
        display: flex;
    }

    .btns button
    {
        height: 30px;
        width: 100px;
        padding-top: 0;
        font-size: 10px;
    }

    .sale
    {
        display: flex;
        flex-direction: column;
    }

    .sale2
    {
        display: flex;
        flex-direction: column;
    }

    .sale2 button 
    {
        height: 20px;
        width: 40px;
    }

    .sale2 img
    {
        height: 10px;
        width: 10px;
        margin-top: -15px;
        margin-left: -2px;
        perspective: 0;
    }

    .close
    {
        position: absolute;
        top: 0px;
        right: 0;
        height: 15px;
    }
}
